templates/edit.html

<!DOCTYPE html>
<html>
<head>
    <title>Editar Estudiante</title>
</head>
<body>
    <h1>Editar Estudiante</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, msg in messages %}
                        <li class="{{ 'error' if category == 'error' else 'ok' }}">{{ msg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="POST">
        Matrícula: <input type="text" name="matricula" value="{{ estudiante.matricula }}" required><br>
        Nombre: <input type="text" name="nombre" value="{{ estudiante.nombre }}" required><br>
        Grupo: <input type="text" name="grupo" value="{{ estudiante.grupo }}" required><br>
        <button type="submit">Actualizar</button>
    </form>
    <a href="{{ url_for('index') }}">Volver</a>
</body>
</html>